body{
    /*background-image: url(root/img/bio.jpg);*/
    background-color: rgba(245, 141, 13, 0.514);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    margin-left: 160px; /* Same as the width of the sidebar */
}
.login{
    border: 7px solid rgba(245, 141, 13, 0);
    background-color: rgba(245, 141, 13, 0.007);
    color: black;
    margin: 10px;
    padding: 10px;
}
.newlogin{
    border: 7px solid rgba(245, 141, 13, 0);
    background-color: rgba(245, 141, 13, 0.007);
    color: black;
    margin: 10px;
    padding: 10px;
}
.movieposter{
    border: 1px solid rgba(209, 121, 14, 0.877);
    height: 150px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex-flow: wrap;    
    font-size: 30px;
    flex-grow: 1;
}
.contact{
    border: 1px solid rgba(209, 121, 14, 0.877);
    height: 150px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex-flow: wrap;    
    font-size: 30px;
    flex-grow: 1;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(250, 236, 191, 0.603);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
/* The navigation menu links */
.sidenav span {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #414040;
    display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav span:hover {
    color: #c0bbbb;
}
.wrapper{
    width: 100%;
    max-width: 960px;
}
.flex-container{
    display: flex;
    border: 7px solid rgba(245, 141, 13, 0);
    background-color: rgba(245, 141, 13, 0);
}

 
 